<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Climate Solutions</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body tabindex="-1">
  <%- include('partials/navbar', { page: '/about' }) %>
  <br />

  <div class="container mx-auto">

    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">About</h1>

          <p class="py-6">Everything you want to know about me.</p>

        </div>
      </div>
    </div>

    <br />

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <img class="w-full rounded-lg"
          src="https://img.freepik.com/fotos-premium/escena-futbol-estadio-cerca-zapato-futbol-pateando-pelota_207634-5556.jpg"
          alt="profile" />

      </div>
      <div class="prose">

        <p>My name is Felipe Villacres and I'm currently studying at Seneca Polytechnic.</p>

        <p>I am currently studying Compute Programming Program at Seneca Polytechnic College and I am in my third semester. I am very interested in everything related to technology and programming. I am also a great lover of sports, especially football. My favorite team is Barcelona from Spain and my greatest childhood idol is Lionel Messi. Playing football is one of my favorite hobbies, as well as going to the gym and playing video games.</p>

      </div>

    </div>

  </div>
</body>

</html>